@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;     
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--bg-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.navbar a.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: .2rem;
    bottom: -6px;
    background: var(--bg-color);
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--bg-color);
    cursor: pointer;
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
    background-color: var(--bg-color);
}

section#home {    
    min-width: 100vh;
}

section.home {
    display: flex;
    align-items: center;
}

section.home div.home-content {
    max-width: 44rem;
}

div.home-content {
    z-index: 1;
}


div.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

div.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

div.home-content p {
    font-size: 1.6rem;
    font-weight: 700;
}

div.home-content div.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--bg-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--bg-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

div.home-content div.social-media a:hover {
    background-color: var(--bg-color);
    color: var(--color-04);
}

a.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--bg-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;

}

a.btn:hover{
    background: transparent;
    color: var(--bg-color);
    border-color: var(--bg-color);
}

section.home div.profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width:  768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

section.home div.profession-container div.profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.home div.profession-box div.profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

section.home div.profession-box div.profession:nth-child(1) i {
    margin-right: 15px;
}

section.home div.profession-box div.profession:nth-child(2),
section.home div.profession-box div.profession:nth-child(4) {
    padding-bottom: 20px;
}

section.home div.profession i {
    font-size: 3.8rem;
}

section.home div.profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

section.home div.profession-box div.circle {
     width: 560px;
     height: 560px;
     border: 3px solid var(--main-color);
     border-radius: 50%;
}

section.home div.profession-container div.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}

div.home-img img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}

span {
    color: var(--main-color);
}

section.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background: red;
}

div.about-img img {
    width: 40vh;
}

h2.heading {
    font-size: 4.5rem;
    text-align: center;
}

div.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

div.about-content h3 {
    font-size: 2rem ;
}

div.about-content p {
     
}

section#pagina-02{
    background-color: red;
}

section#pagina-03{
    background-color: green;
}

section#pagina-04{
    background-color: rgb(199, 233, 11);
}

section#pagina-05{
    background-color: rgb(98, 1, 110);
}
